.logo {
  width: 10.5rem;
}

#logo-black,
#logo-white {
  transition: all 1s;
}

.navbar-section {
  position: relative;
}

.nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

nav {
  overflow-x: hidden;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
}

nav ul li a {
  color: var(--brand-color);
  user-select: none;
  transition: all 0.3s;
}

nav ul li::first-letter {
  text-transform: uppercase;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li:hover a {
  color: #a41f13;
}

.search-icon {
  width: 16px;
  padding-top: 0.3rem;
  display: inline-block;
}

.nav-hamburgerMenuContainer {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerMenuContainer {
  cursor: pointer;
  /* position: absolute; */
  right: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.hamburger {
  width: 30px;
  height: 2px;
  margin: 5px 0;
  border-radius: 3px;
  background-color: var(--brand-color);
}

.line1,
.line2,
.line3,
.overlayMenu {
  transition: all 0.5s ease;
}

.hideLine2 {
  opacity: 0;
}

.rotatePlus45Deg {
  transform: rotate(45deg) translate(2px, 8px);
}

.rotateMinus45Deg {
  transform: rotate(-45deg) translate(2px, -8px);
}

.showOverlayMenu {
  opacity: 1;
}

.moveLiTagUp {
  transform: translateY(-10px);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}

@media (max-width: 1260px) {
  #logo-white {
    background-color: #000000;
    position: relative;
    z-index: 1100;
  }
  .nav div a img {
    background-color: var(--pure-white);
  }

  nav {
    min-width: 34rem;
    height: 100vh;
    background-color: #000000;
    position: absolute;
    left: -34rem;
    top: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 60px; */
    z-index: 1000;
  }

  .active {
    left: 0;
  }

  .hamburgerMenuContainer {
    display: block;
  }

  .nav-hamburgerMenuContainer nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-hamburgerMenuContainer nav ul li:last-child {
    display: none;
  }

  nav ul li:hover {
    cursor: pointer;
  }

  .nav-hamburgerMenuContainer nav ul li:hover a {
    color: #a41f13;
  }

  .nav-hamburgerMenuContainer nav ul li a {
    color: var(--pure-white);
    user-select: none;
  }

  .welcome .welcome-section-floating-social-links p {
    color: #000000;
  }
}
